@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Regular/Montserrat-Regular.eot');
    src: url('../fonts/Montserrat-Regular/Montserrat-Regular.woff') format('woff'), url('../fonts/Montserrat-Regular/Montserrat-Regular.ttf') format('truetype'), url('../fonts/Montserrat-Regular/Montserrat-Regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-SemiBold/Montserrat-SemiBold.eot');
    src: url('../fonts/Montserrat-SemiBold/Montserrat-SemiBold.woff') format('woff'), url('../fonts/Montserrat-SemiBold/Montserrat-SemiBold.ttf') format('truetype'), url('../fonts/Montserrat-SemiBold/Montserrat-SemiBold.svg') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Bold/Montserrat-Bold.eot');
    src: url('../fonts/Montserrat-Bold/Montserrat-Bold.woff') format('woff'), url('../fonts/Montserrat-Bold/Montserrat-Bold.ttf') format('truetype'), url('../fonts/Montserrat-Bold/Montserrat-Bold.svg') format('svg');
    font-weight: 700;
    font-style: normal;
    color: #FFFFFF;
}

@font-face {
    font-family: 'Candara';
    src: url('../fonts/Candara/Candara.eot');
    src: url('../fonts/Candara/Candara.woff') format('woff'), url('../fonts/fonts/Candara.ttf') format('truetype'), url('../fonts/fonts/Candara.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}


/* Контейнеры для отступов и адаптации */

.fixed-container,
.holder {
    max-width: 1210px;
    min-width: 320px;
    margin: 0 auto;
    padding: 0 20px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}


/* header */

* header {
    color: #FFFFFF;
}

header {
    min-height: 100vh;
    position: relative;
    overflow: hidden;
}


/* Backgorund for header */

.header-background {
    width: 100%;
    height: 100%;
    background: -o-linear-gradient(359.19deg, #E84141 36.47%, #E43939 59.49%);
    background: linear-gradient(90.81deg, #E84141 36.47%, #E43939 59.49%);
    position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-clip-path: polygon(0 0, 100% 0%, 100% 59%, 0 100%);
    clip-path: polygon(0 0, 100% 0%, 100% 59%, 0 100%);
    top: 0;
    left: 0;
    z-index: -1;
}


/* Fle=x and j-c:s-b */
.header-top,
.nav-left,
.logo,
.number,
.nav-right,
.header-content,
.box-estimate,
.application-block,
.download-application-link,
.footer-info,
.footer-info-contact,
.footer-info-work,
.footer-link-app-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}


.logo,
.number,
.header-content-logo,
.box-estimate,
.slider__item,
.slick-track,
.slider .slick-dots,
.application-content,
.download-application-block,
.download-application-link,
.download-application,
.footer-info,
.footer-info-contact,
.footer-info-work,
.footer-social-media {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}


/* Вверхняя часть header */
.header-top {
    width: 100%;
    padding-top: 31px;

}

.nav-left {
    max-width: 291px;
    width: 100%;
}

.logo {
    max-width: 154px;
    width: 100%;
}

.logo-text {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
}

.number {
    max-width: 110px;
    width: 100%;

}

.number a {
    color: #FFFFFF;
    font-weight: 600;
    font-size: 17px;
}

.nav-right {
    max-width: 400px;
    width: 100%;
}

.time-work,
.address {
    font-weight: 600;
    font-size: 17px;
    line-height: 111.3%;
}

.time-work {
    max-width: 187px;
    width: 100%;
}

.nav-info-title {
    font-weight: 700;
    font-size: inherit;
    line-height: 21px;
}

.address {
    max-width: 186px;
    width: 100%;
}

.header-content {
    max-width: 1070px;
    width: 100%;
    margin: 51px auto 0;
}

.header-content-info {
    max-width: 470px;
    width: 100%;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    margin-top: 60px;
}

.title {
    width: 100%;
    font-weight: 800;
    font-size: 48px;
    line-height: 120%;
    letter-spacing: 0.03em;
}

.header-description {
    margin: 30px 0 40px;
    font-size: 19px;
    line-height: 23px;
}

.header-btn {
    padding: 18px 56px;
    background-color: #FFFFFF;
    -webkit-box-shadow: 0px 0px 30px rgba(255, 253, 253, 0.5);
    box-shadow: 0px 0px 30px rgba(255, 253, 253, 0.5);
    border-radius: 100px;
    border: none;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    text-transform: capitalize;
    color: #E53939;
}

.header-btn:hover,
.header-btn:active,
.header-btn:focus {
    -webkit-box-shadow: 0px 0px 30px rgba(255, 253, 253, 0.8);
    box-shadow: 0px 0px 30px rgba(255, 253, 253, 0.8);
}

.header-content-logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.header-content-logo img {
    -webkit-animation: rotate-logo 5s linear;
    animation: rotate-logo 5s linear;
}

.logo-title {
    font-family: 'Candara';
    text-transform: uppercase;
    font-size: 129px;
    line-height: 157px;
    color: #000000;
    -webkit-animation: title-transform 5s ease-in-out;
    animation: title-transform 5s ease-in-out;
}

@-webkit-keyframes rotate-logo {
    from {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }

    to {
        -webkit-transform: rotate(720deg);
        transform: rotate(720deg);
    }
}

@keyframes rotate-logo {
    from {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }

    to {
        -webkit-transform: rotate(720deg);
        transform: rotate(720deg);
    }
}

@-webkit-keyframes title-transform {
    from {
        -webkit-transform: translate3d(1000px, 0, 0);
        transform: translate3d(1000px, 0, 0);
    }

    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes title-transform {
    from {
        -webkit-transform: translate3d(1000px, 0, 0);
        transform: translate3d(1000px, 0, 0);
    }

    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}


/* Astimate Makisu in Yandex */

section:first-child {
    padding: 30px 0 24px;
}

.box-estimate {
    max-width: 1070px;
    width: 100%;
    margin: 30px auto 0;
    padding: 54px 52px;
    border: 2px solid #A82D2D;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 8px;
}

.box-estimate h2,
.box-estimate span {
    font-weight: 700;
    font-size: 54px;
    line-height: 66px;
    color: #000000;
}

.box-estimate span,
.product-title span,
.application-title span {
    color: #E92C2C;
}


/* Карусель */

.product-block {
    background: -o-linear-gradient(top, rgba(255, 249, 249, 0) 0%, rgba(255, 249, 249, 0.762712) 7.29%, #FFF9F9 90.62%, rgba(255, 249, 249, 0) 100%);
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 249, 249, 0)), color-stop(7.29%, rgba(255, 249, 249, 0.762712)), color-stop(90.62%, #FFF9F9), to(rgba(255, 249, 249, 0)));
    background: linear-gradient(180deg, rgba(255, 249, 249, 0) 0%, rgba(255, 249, 249, 0.762712) 7.29%, #FFF9F9 90.62%, rgba(255, 249, 249, 0) 100%);
}

.product-box {
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
}

.product-title,
.product-title span {
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 38px;
    line-height: 46px;
    text-align: center;
}

.slider {
    max-width: 1170px;
    width: 100%;
    position: relative;
    padding: 0 63px;
}

.slider__item {
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 15px;
    border: 2px solid #A82D2D;
    border-radius: 10px;
    position: relative;
}

.slider__title {
    padding: 4px 29px;
    background: -o-linear-gradient(355.82deg, #FF6767 0%, #F6506A 92.71%, #F54E6A 100%);
    background: linear-gradient(94.18deg, #FF6767 0%, #F6506A 92.71%, #F54E6A 100%);
    position: absolute;
    left: 0;
    right: 0;
    top: 10px;

}

.slider__title,
.miura-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    text-decoration: none;
    text-align: center;
}

.slider__item img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    -o-object-fit: cover;
    object-fit: cover;
}

.slider__item:focus {
    outline: none;
}

.slick-list {
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.slider .slick-dots {
    min-height: 15px;
    margin-top: 20px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.slick-dots li {
    margin: 0 6px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.slick-dots li.slick-active button {
    width: 15px;
    height: 15px;
    background-color: #494949;
    border-radius: 50%;
    font-size: 0px;
}

.slick-dots li button {
    width: 11px;
    height: 11px;
    padding: 0;
    background-color: #8D8D8D;
    border-radius: 50%;
    font-size: 0px;
}

.slider .slick-arrow {
    width: 33px;
    height: 144px;
    background: url('../img/vector.svg') 0 0 / 100% no-repeat;
    background-size: cover;
    font-size: 0;
    position: absolute;
    top: calc(50% - 72px - 15px);
    z-index: 10;
}

.slider .slick-arrow.slick-prev {
    -webkit-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    transform: rotate(-180deg);
    left: 0;
}

.slider .slick-arrow.slick-next {
    right: 0;
}


/* Product */

.application-section {
    padding: 55px 0;
}

.application-content {
    max-width: 600px;
    margin-top: 83px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.application-title,
.application-title span {
    max-width: 530px;
    width: 100%;
    margin-bottom: 28px;
    font-weight: 700;
    font-size: 32px;
    line-height: 46px;
    text-align: center;
}

.application-block {
    margin: 0 50px;
}

.download-application-block {
    max-width: 470px;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.download-application-block h3 {
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
}

.download-application-link {
    max-width: inherit;
    width: inherit;
    padding-top: 5px;
}

.download-application {
    max-width: 171px;
    width: 100%;
    text-decoration: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.download-application-title {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    margin: 36px auto 0;
    font-weight: 600;
    font-size: 28px;
    line-height: 34px;
    text-align: center;
    color: #000000;
}

.red-line {
    min-width: 1px;
    width: 3px;
    height: 117px;
    margin: 0 11px;
    background-color: #E84141;
    border-radius: 2px;
}

.video-application {
    max-width: 355px;
}

.image-application {
    display: none;
}

/* footer */

footer {
    background: -o-linear-gradient(359.19deg, #E84141 36.47%, #E43939 59.49%);
    background: linear-gradient(90.81deg, #E84141 36.47%, #E43939 59.49%);
    -webkit-box-shadow: 0px 6px 20px rgba(162, 0, 0, 0.3);
    box-shadow: 0px 6px 20px rgba(162, 0, 0, 0.3);
    color: #FFFFFF;
}

.footer {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-line-pack: justify;
    align-content: space-between;
}

.footer-info {
    max-width: 1170px;
    width: 100%;
    padding: 30px 0 24px;
}

.footer-info-contact,
.footer-info-work {
    width: 100%;
}

.footer-info-contact {
    max-width: 313px;
}

.footer-info-work {
    max-width: 465px;
}


/* Заголовок footer */

.footer-title,
.footer-number a {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
}

.footer-title+p,
.footer-title+p+p {
    font-weight: 500;
    font-size: 18px;
}

.footer-number a {
    font-weight: 600;
}

/* Links on social-media */

.footer-social-media {
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

#footer-link {
    padding-bottom: 24px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

/* Центрируем заголовок в footer-link-app*/

.footer-link-app-container {
    max-width: 260px;
    width: 100%;
}

.footer-link-app-container .footer-title {
    margin-bottom: 4px;
    text-align: center;
}

.footer-link-app-block {
    width: 100%;
}

.footer-link-app-content {
    max-width: 126px;
    width: 100%;
    height: 37px;
    display: block;
}

.footer-link-app-content img {
    width: 100%;
    -o-object-fit: contain;
    object-fit: contain;
    border-radius: 5px;
}


/* Text in footer-app-text */

.footer-app-text p {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    font-size: 12px;
}

.footer-app-text h4 {
    font-weight: 600;
    font-size: 13px;
    line-height: 17px;
    text-transform: capitalize;
}

@media(max-width: 1152px) {
    .holder {
        max-width: 1068px;
        padding: 0 45px;
    }

    .nav-left {
        max-width: 280px;
    }

    .logo {
        max-width: 145px;
    }

    .logo-icon {
        max-width: 47px;
    }

    .logo-text {
        font-size: 22px;
        line-height: 27px;
    }

    .number a {
        font-size: 16px;
        line-height: 19px;
    }

    .nav-right {
        max-width: 365px;
    }

    .time-work,
    .address {
        font-size: 16px;
    }

    .title {
        max-width: 390px;
        font-weight: 800;
        font-size: 42px;
        line-height: 120%;
        letter-spacing: 0.03em;
    }

    .header-content {
        max-width: 938px;
    }

    .header-description {
        max-width: 360px;
        font-size: 17px;
        line-height: 20px;
    }

    .header-btn {
        width: -webkit-max-content;
        width: -moz-max-content;
        width: max-content;
        padding: 16px 50px;
        font-size: 16px;
        line-height: 19px;
        display: block;
    }

    .header-content-logo img {
        max-width: 338px;
    }

    .logo-title {
        font-size: 113px;
        line-height: 138px;
    }

    .box-estimate {
        max-width: 940px;
        padding: 48px 60px;
    }

    .box-estimate h2,
    .box-estimate h2 span {
        font-size: 47px;
        line-height: 58px;
    }

    .box-estimate h2 {
        max-width: 558px;
    }

    .five-stars {
        max-width: 262px;
        width: 100%;
    }

    /* Slider */
    .product-title,
    .product-title span,
    .application-title,
    .application-title span {
        font-size: 33px;
        line-height: 41px;
    }

    .slider__title,
    .miura-link {
        font-size: 12px;
        line-height: 15px;
    }

    .slider .slick-arrow {
        width: 29px;
        height: 126px;
        top: calc(50% - 72px - 15px);
    }

    .slider .slick-arrow.slick-next {
        right: 15px;
    }

    .slider .slick-arrow.slick-prev {
        left: 15px;
    }

    /* Application content */
    .application-title,
    .application-title span {
        margin-bottom: 43px;
    }

    .download-application-block {
        max-width: 412px;
    }

    .download-application-block h3 {
        font-size: 26px;
        line-height: 32px;
    }

    .download-application {
        max-width: 150px;
    }

    .download-application img {
        max-width: 70px;
    }

    .download-application-title {
        font-size: 25px;
        line-height: 30px;
    }

    .red-line {
        width: 3px;
        height: 103px;
    }

    .video-application {
        max-width: 330px;
    }

    /* footer */
    .footer-title,
    .footer-number a {
        font-size: 16px;
        line-height: 19px;
    }

    .footer-info-contact {
        max-width: 275px;
    }

    .footer-info-work {
        max-width: 365px;
    }

    .footer-link-app-container {
        max-width: 228px;
    }

    .footer-link-app-content {
        max-width: 110px;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }

    .apple-logo-block svg {
        max-width: 17px;
        max-height: 22px;
    }

    .footer-app-text p {
        font-size: 9px;
    }

    .footer-app-text h4 {
        font-size: 11px;
    }

    .footer-title+p,
    .footer-title+p+p {
        font-size: 16px;
        line-height: 111.3%;
    }
}

@media(max-width: 1024px) {

    .holder {
        max-width: 929px;
        padding: 0 48px;
    }

    header {
        min-height: 0;
    }

    .nav-left {
        max-width: 250px;
    }

    .logo {
        max-width: 122px;
    }

    .logo-icon {
        max-width: 39px;
    }

    .logo-text {
        font-size: 22px;
        line-height: 27px;
    }

    .number {
        max-width: 95px;
    }

    .number a {
        font-size: 14px;
        line-height: 17px;
    }

    .nav-right {
        max-width: 318px;
    }

    .time-work,
    .address {
        font-size: 14px;
    }

    .title {
        font-size: 36px;
        letter-spacing: 0.03em;
    }

    .header-content {
        max-width: 816px;
        padding: 0;
        margin: 39px auto 0;
    }

    .header-description {
        font-size: 14px;
        line-height: 18px;
    }

    .header-btn {
        padding: 14px 43px;
        font-size: 14px;
        line-height: 17px;
    }

    .header-content-logo img {
        max-width: 295px;
    }

    .logo-title {
        font-size: 98px;
        line-height: 120px;
    }

    /* Estimate at Yandex */
    .box-estimate {
        max-width: 818px;
        padding: 41px 52px;
    }

    .box-estimate h2,
    .box-estimate h2 span {
        font-size: 41px;
        line-height: 51px;
    }

    .box-estimate h2 {
        max-width: 506px;
    }

    .five-stars {
        max-width: 228px;
    }

    /* Slider - карусель */
    .product-title,
    .product-title span {
        font-size: 29px;
        line-height: 35px;
    }

    .slider__title,
    .miura-link {
        font-size: 11px;
        line-height: 13px;
    }

    .slider .slick-arrow {
        width: 26px;
        height: 110px;
        top: calc(50% - 70px);
    }

    /* Application content */
    .application-block {
        max-width: 690px;
        margin: 0 auto;
    }

    .application-title,
    .application-title span {
        font-size: 29px;
        line-height: 35px;
    }

    .application-content {
        max-width: 440px;
        margin-top: 0;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    .download-application-block {
        max-width: 360px;
    }

    .download-application-block h3 {
        font-size: 22px;
        line-height: 27px;
    }

    .download-application {
        max-width: 131px;
    }

    .download-application img {
        max-width: 61px;
    }

    .download-application-title {
        font-size: 21px;
        line-height: 30px;
    }

    .red-line {
        width: 2px;
        height: 89px;
        margin-bottom: 12px;
    }

    .video-application {
        display: none;
    }

    .image-application {
        max-width: 196px;
        display: block;
    }

    /* footer */
    .footer-info-contact {
        max-width: 240px;
    }

    .footer-info-work {
        max-width: 305px;
    }

    .footer-title,
    .footer-number a {
        font-size: 14px;
        line-height: 17px;
    }

    .footer-social-media {
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }

    .footer-app-text p {
        font-size: 9px;
    }

    .footer-title+p,
    .footer-title+p+p {
        font-size: 14px;
        line-height: 111.3%;
    }

    .google_Play,
    .app_store {
        max-width: 74px;
    }
}

@media(max-width: 900px) {
    .footer-info-contact {
        max-width: 165px;
        margin-right: 15px;
    }

    .footer-link-app-container {
        max-width: 210px;
    }

    .footer-link-app-content {
        max-width: 100px;
    }

    .footer-info-work {
        max-width: 290px;
        margin-left: 25px;
    }

    .footer-title,
    .footer-number a {
        font-size: 13px;
    }

    .footer-title+p,
    .footer-title+p+p {
        font-size: 12px;
    }
}

@media(max-width: 850px) {

    .box-estimate h2,
    .box-estimate h2>span {
        max-width: 420px;
        font-size: 34px;
    }
}

@media(max-width: 830px) {
    .slider__title {
        font-size: 10px;
    }
}

@media (max-width: 770px) {
    .slider__title {
        font-size: 14px;
    }
}

@media(max-width: 768px) {
    .holder {
        max-width: 710px;
        padding: 0 48px;
    }

    .nav-left {
        max-width: 185px;
    }

    .logo {
        max-width: 100px;
    }

    .logo-icon {
        max-width: 30px;
    }

    .logo-text {
        font-size: 15px;
        line-height: 18px;
    }

    .number {
        max-width: 70px;
    }

    .number img {
        width: 14px;
    }

    .number a {
        font-size: 11px;
        line-height: 13px;
    }

    .nav-right {
        max-width: 250px;
    }

    .time-work,
    .address {
        font-size: 10px;
    }

    .title {
        font-size: 28px;
        letter-spacing: 0.03em;
    }

    .header-content {
        max-width: 622px;
        padding: 0;
    }

    .header-content-info {
        max-width: 274px;
        margin-top: 35px;
    }

    .header-description {
        font-size: 11px;
        line-height: 14px;
    }

    .header-btn {
        width: 116px;
        padding: 11px 33px;
        font-size: 11px;
        line-height: 13px;
    }

    .header-content-logo img {
        max-width: 225px;
    }

    .logo-title {
        font-size: 75px;
        line-height: 92px;
    }

    /* Estimate at Yandex */
    .box-estimate {
        max-width: 625px;
        padding: 32px 40px;
    }

    .box-estimate h2,
    .box-estimate h2 span {
        font-size: 33px;
        line-height: 40px;
    }

    .box-estimate h2 {
        max-width: 387px;
    }

    .five-stars {
        max-width: 160px;
    }

    /* Slider - карусель */
    .product-title,
    .product-title span {
        font-size: 26px;
        line-height: 27px;
    }

    .slider__title,
    .miura-link {
        font-size: 8px;
        line-height: 10px;
    }

    .slider__title {
        font-size: 14px;
    }

    .slider .slick-arrow {
        width: 19px;
        height: 84px;
        top: calc(50% - 60px);
    }

    /* Application content */
    .application-section {
        padding: 30px 0;
    }

    .application-title,
    .application-title span {
        font-size: 22px;
        line-height: 27px;
    }

    .download-application-block {
        max-width: 274px;
    }

    .download-application-block h3 {
        font-size: 18px;
        line-height: 22px;
    }

    .download-application {
        max-width: 100px;
    }

    .download-application img {
        max-width: 47px;
    }

    .download-application-title {
        font-size: 16px;
        line-height: 20px;
        margin: 20px auto 0;
    }

    .red-line {
        width: 1.75px;
        height: 89px;
        margin-bottom: 12px;
    }

    /* Application on phone */
    .application-block {
        max-width: 566px;
    }

    .application-content {
        max-width: 334px;
    }

    .application-title,
    .application-title span {
        font-size: 21px;
        line-height: 27px;
    }

    .image-application {
        max-width: 148px;
    }

    /* footer */
    .footer-title,
    .footer-number a {
        font-size: 11px;
        line-height: 13px;
    }

    .footer-social-media img {
        max-width: 19px;
    }

    .footer-link-app-block {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .footer-link-app-container {
        max-width: 155px;
    }

    .footer-link-app-content:nth-child(2) {
        margin-top: 3px;
    }

    .footer-info-work {
        max-width: 230px;
    }

    .footer-app-text p {
        font-size: 8px;
    }

    .footer-title+p,
    .footer-title+p+p {
        font-size: 10px;
        line-height: 111.3%;
    }
}

@media(max-width: 667px) {

    /* Обёртки */
    .holder,
    .fixed-container {
        max-width: 624px;
        padding: 0 21px;
        box-sizing: content-box;
    }

    /* Background of header */
    .header-background {
        -webkit-clip-path: none;
        clip-path: none;
    }

    /* Logo */
    .header-top {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    .nav-left {
        max-width: 100%;
        width: -webkit-max-content;
        width: -moz-max-content;
        width: max-content;
    }

    .logo {
        max-width: inherit;
    }

    .logo-icon {
        max-width: 47px;
    }

    .logo-text {
        font-size: 60px;
        line-height: 74px;
    }

    /* Лишние элементы */
    .number,
    .nav-right,
    .header-content-logo,
    .header-btn,
    #estimate-section,
    .image-application {
        display: none;
    }

    .header-content-logo {
        -webkit-animation: none;
        animation: none;
    }

    /* Content of header */
    .header-content {
        max-width: 570px;
        padding: 0;
        margin: 0 auto;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    .header-content-info {
        max-width: inherit;
        width: 100%;
    }

    .title {
        max-width: 100%;
        text-align: center;
        font-size: 48px;
        line-height: 120%;
        letter-spacing: 0.03em;
    }

    .header-description {
        max-width: 100%;
        font-size: 24px;
        line-height: 29px;
        text-align: center;
    }

    /* Slider - карусель */
    .product-title {
        margin: 25px 0 16px;
    }

    .slider__title,
    .miura-link {
        font-size: 14px;
        font-weight: 600;
    }

    .slider__title {
        font-size: 12px;
    }

    .slider .slick-arrow {
        width: 16px;
        height: 70px;
        top: calc(50% - 50px);
    }

    /* Application */
    .application-section {
        padding: 35px 0;
    }

    .application-block {
        max-width: 607px;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .application-content {
        max-width: 100%;
        width: 100%;
        font-size: 30px;
        line-height: 37px;
        text-align: center;
    }

    .application-title,
    .application-title span {
        max-width: 100%;
        font-size: 33px;
        line-height: 49px;
    }

    .download-application-block {
        max-width: 474px;
    }

    .download-application-block h3 {
        font-size: 26px;
        line-height: 32px;
    }

    .download-application {
        max-width: 172px;
    }

    .download-application img {
        max-width: 80px;
    }

    .download-application-title {
        font-size: 22px;
        line-height: 27px;
    }

    .red-line {
        width: 3px;
        height: 93px;
    }

    /* footer */
    .footer-info {
        font-size: 17px;
        line-height: 111.3%;
        padding: 21px 0 8px;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
    }

    .footer-info-work-block:nth-child(2) {
        margin-top: 12px;
    }

    .footer-title,
    .footer-number a {
        font-size: 16px;
        line-height: 21px;
    }

    .footer-link-app-container .footer-title {
        font-size: 14px;
        line-height: 17px;
    }

    .footer-number a {
        font-weight: 600;
        font-size: 22px;
        line-height: 26px;
    }

    .footer-number+div {
        margin-top: 5px;
    }

    .footer-social-media img {
        max-width: 30px;
    }

    .footer-title+p,
    .footer-title+p+p {
        font-weight: 600;
        font-size: 16px;
        line-height: 111.3%;
    }

    .footer-link-app-container {
        max-width: 206px;
    }

    .footer-link-app-content {
        max-width: 144px;
        height: auto;
        margin: 0 auto;
    }

    .footer-link-app-content img {
        max-width: inherit;
    }

    .footer-info-contact {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
    }

    .footer-info-work {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
    }

    #footer-link {
        padding-bottom: 10px;
    }
}

@media(max-width: 610px) {
    .slider__title {
        font-size: 15px;
        padding: 7px 29px;
    }

    .slick-dots {
        display: none !important;
    }

    .footer-info-work {
        margin-left: 17px;
        line-height: 111.3%;
    }

    .footer-info-work-block:nth-child(2) {
        margin-top: 12px;
    }

    .footer-link-app-container .footer-title {
        font-size: 15px;
    }

    .footer-title+p,
    .footer-title+p+p {
        font-size: 15px;
    }
}

@media(max-width: 580px) {
    .footer-info-work {
        margin-left: 25px;
    }

    .footer-title+p,
    .footer-title+p+p {
        font-size: 14px;
    }
}

@media(max-width: 535px) {

    .application-title,
    .application-title span {
        font-size: 29px;
    }

    .download-application-block {
        max-width: 390px;
    }
    
    .footer-title+p,
    .footer-title+p+p {
        font-size: 13px;
    }
}

@media(max-width: 530px) {

    .footer-title+p,
    .footer-title+p+p {
        font-size: 13px;
        max-width: 520;
    }
}

@media(max-width: 500px) {
    .footer-link-app-container {
        max-width: 130px;
    }

    .footer-title+p,
    .footer-title+p+p {
        font-size: 12px;
    }
}

@media(max-width: 480px) {
    .application-title {
        margin-bottom: 25px;
    }

    .application-title,
    .application-title span {
        font-size: 27px;
    }

    .footer-link-app-container {
        max-width: 150px;
    }

    .footer-title+p,
    .footer-title+p+p {
        font-size: 11px;
        max-width: 150px;
    }
}

@media(max-width: 465px) {

    .footer-title,
    .footer-number a {
        font-size: 14px;
    }

    .footer-title+p,
    .footer-title+p+p {
        font-size: 11px;
        max-width: 150px;
    }
}

@media(max-width: 450px) {

    .application-title,
    .application-title span {
        font-size: 24px;
    }

    .footer-link-app-container .footer-title {
        font-size: 14px;
    }

    .footer-title+p,
    .footer-title+p+p {
        font-size: 10px;
        max-width: 150px;
    }
}

@media(max-width: 414px) {
    .holder, .fixed-container{
        box-sizing: border-box;
    }
    /* header */
    .title {
        font-size: 40px;
    }

    .header-description {
        font-size: 21px;
    }

    /* Slider */
    .slider__item {
        margin: 0 10px;
    }

    .miura-link {
        font-size: 8px;
        line-height: 10px;
    }

    .slider__title {
        padding: 5px 29px;
        font-size: 13px;
    }

    .slider .slick-arrow {
        top: calc(50% - 35px);
    }

    /* Application */
    .application-section {
        padding: 17px 0 30px;
    }

    .application-block {
        max-height: 203px;
        height: 100%;
    }

    .application-title,
    .application-title span {
        font-size: 21px;
        line-height: 20px;
        margin-bottom: 22px;
    }

    .download-application-block {
        max-width: 182px;
    }

    .download-application-block h3 {
        font-size: 14px;
        line-height: 17px;
    }

    .download-application {
        max-width: 75px;
        max-height: 65px;
    }

    .download-application img {
        max-width: 45px;
    }

    .download-application-block {
        max-width: 255px;
    }

    .download-application-title {
        margin-top: 5px;
        font-size: 12px;
        line-height: 15px;
    }

    .red-line {
        width: 2.75px;
        height: 51px;
        margin-bottom: 0;
        border-radius: 2px;
    }

    /* Подвал */
    .footer-number a {
        font-size: 12px;
        line-height: 15px;
    }

    .footer-title,
    .footer-number a {
        font-size: 14px;
        line-height: 15px;
    }

    .footer-social-media {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }

    .footer-social-media img {
        max-width: 17px;
    }

    .footer-info-contact {
        max-width: 100px;
    }

    .footer-info-work .footer-title {
        font-size: 9px;
        line-height: 11px;
    }

    .footer-info-work-block:nth-child(2) {
        margin-top: 7px;
    }

    .footer-info-work-block p {
        font-size: 9px;
        line-height: 111.3%;
    }

    .footer-link-app-container .footer-title {
        font-size: 11px;
    }

    .footer-link-app-content {
        max-width: 81px;
    }

    .footer-link-app-container {
        max-width: 200px;
    }

    .footer-info-contact h2 {
        font-size: 10px;
        line-height: 12px;
    }

    .footer-title+p,
    .footer-title+p+p {
        font-size: 9px;
    }

    #footer-link {
        padding-bottom: 6px;
    }
}

@media(max-width: 400px) {
    .footer-link-app-container {
        max-width: 200px;
    }
}

@media(max-width: 375px) {

    /* Обёртки */
    .holder,
    .fixed-container {
        max-width: 350px;
        padding: 0 21px;
    }

    .fixed-container {
        padding: 0 12px;
    }

    /* Logo */
    .logo-icon {
        max-width: 47px;
    }

    .logo-text {
        font-size: 34px;
        line-height: 41px;
    }

    .title {
        margin-top: 10px;
        font-size: 33px;
        line-height: 120%;
    }

    .header-description {
        margin: 8px 0 17px;
        font-size: 13px;
        line-height: 16px;
        text-align: center;
    }

    .header-content-info {
        margin: 0 auto;
    }

    /* Slider - карусель */
    .miura-link {
        font-size: 8px;
        line-height: 10px;
    }

    .slider__title {
        font-size: 9px;
    }

    .slider .slick-arrow {
        height: 70px;
    }

    /* Application */
    .application-title,
    .application-title span {
        font-size: 20px;
        line-height: 24px;
    }

    .download-application-block h3 {
        font-size: 16px;
        line-height: 20px;
    }

    .download-application img {
        max-width: 44px;
    }

    .download-application-title {
        font-size: 12px;
        line-height: 15px;
    }

    /* Footer */
    .footer-info-work {
        max-width: 104px;
    }

    .footer-title,
    .footer-number a {
        font-size: 11px;
    }

    .footer-info-work-block {
        max-width: 104px;
    }

    .footer-link-app-container {
        max-width: 200px;
    }

    .footer-link-app-container {
        max-width: 116px;
        left: 130px;
        top: 637px;
    }

    .footer-info-contact {
        max-width: 60px;
    }
}

@media(max-width: 340px) {
    .download-application-link {
        height: 80px;
    }

    .footer-info-work {
        max-width: 290px;
        margin-left: 4px;
    }

    .footer-link-app-container {
        max-width: 200px;
    }

    .footer-link-app-container .footer-title {
        font-size: 10px;
    }
}

@media(max-width: 320px) {
    .footer-link-app-container {
        max-width: 200px;
    }
}